<!-- Content Wrap -->
<div class="content-wrap">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header-content">
                        <div class="page-header-inner page-title display-inline-block">
                            <div class="previous-page">
                                <a href="#!/customer-channel-pkg/customer-channel-group/list"><img src="./public/img/content/previous.svg" class="img-responsive"></a>
                            </div>
                        </div><!-- Page Header Inner -->
                        <div class="page-header-inner page-title display-inline-block">
                            <h1 class="title">{{$ctrl.action}} Customer Channel Group</h1>
                            <p class="subtitle">
                                <a href="#!/customer-channel-pkg/customer-channel-group/list">
                                    Customer Channel Group List
                                </a> /
                                {{$ctrl.action}}
                            </p>
                        </div><!-- Page Header Inner -->
                    </div><!-- Page Header Content -->
                </div><!-- Col Main -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.customer_channel_group.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-tab-form pb-80">
                            <div class="tab-form-wrap">
                                <div class="tab-form-header">
                                    <div class="tab-header">
                                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                            <ul class="nav nav-pills editDetails-tabs">
                                                <li class="active"><a data-target="#general-info" role="tab" data-toggle="tab" aria-expanded="true">General Information</a></li>
                                                <li><a data-target="#sub-groups" data-toggle="tab" role="tab" aria-expanded="true">Sub Groups</a></li>
                                            </ul>
                                        </div><!-- Filters -->
                                    </div><!-- Tab Header -->
                                </div><!-- Tab Form Header -->
                                <div class="tab-form-body">
                                    <div class="tab-content">
                                        <!-- TAB PANEL -->
                                        <div class="tab-pane fade in active" id="general-info" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="tab-pane-wrap">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <lable>Group Name<span class="mandatory">*</span></lable>
                                                            <input type="text" name="name" ng-model='$ctrl.customer_channel_group.name' class="form-control required" placeholder="Enter Main Group">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Active Status<span class="mandatory">*</span></label>
                                                            <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 2" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                                {{ $ctrl.switch_value }}
                                                            </md-switch>
                                                            <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <a class="btn btn-grey btn-nxt">Next</a>
                                                            <button type="submit" class="btn btn-secondary submit">Submit</button>
                                                        </div><!-- Tab Footer -->
                                                    </div>
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tab Pane -->
                                        <div class="tab-pane fade" id="sub-groups" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="form-page">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-8">
                                                        <div class="table-responsive">
                                                            <table class="table table-form">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sub Group Name <sup class="mandatory">*</sup></th>
                                                                        <th>Active Status <sup class="mandatory">*</sup></th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="(index, customer_channel_groups) in $ctrl.customer_channel_sub_group">
                                                                        <input type="hidden" ng-model="customer_channel_groups.id" name="customer_channel_groups[{{index}}][id]" value="{{customer_channel_groups.id}}">
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="text" name="customer_channel_groups[{{index}}][sub_group_name]" ng-model='customer_channel_groups.name' class="form-control type-sm required sub_group_name" placeholder="Enter Sub Group Name">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div class="tab-switch">
                                                                                    <md-switch ng-model="customer_channel_groups.switch_value" aria-label="Switch {{index}}" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn type-sm">
                                                                                        {{ customer_channel_groups.switch_value }}
                                                                                    </md-switch>
                                                                                </div>
                                                                                <input type="hidden" name="customer_channel_groups[{{index}}][status]" value="{{customer_channel_groups.switch_value}}">
                                                                            </div><!-- Field -->
                                                                        </td>
                                                                        <td>
                                                                            <a href="javascript:;" ng-click="removeCustomerChannelGroup(index,customer_channel_groups.id)"><img src="./public/img/content/modal/close-circle-active.svg" class="img-fluid" alt="Delete"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <button type="button" class="btn btn-primary-light btn-square" ng-click="add_sub_groups()">+ Add Sub Group</button>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                            <input type="hidden" name="customer_channel_sub_group_id" id="customer_channel_sub_group_id" value="">
                                                        </div><!-- Table Responsive -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <a class="btn btn-grey btn-prev">Previous</a>
                                                            <button type="submit" class="btn btn-secondary submit">Submit</button>
                                                        </div><!-- Tab Footer -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tabe Pane -->
                                    </div><!-- Tab Content -->
                                </div><!-- Tab Form Body -->
                            </div><!-- Tab Form Wrap -->
                        </div><!-- Page Tab Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->